storage: none
source https://api.nuget.org/v3/index.json

nuget FSharp.Data
nuget GeoJSON.NET
nuget Microsoft.AspNetCore.App
nuget Giraffe
nuget Microsoft.NET.Test.Sdk
nuget Microsoft.AspNetCore.TestHost
nuget xunit
nuget xunit.runner.visualstudio